.DS_Store
.thumbs.db
.vscode
node_modules/
dist/
npm-debug.log*
cordova/platforms
cordova/plugins

# Junit reports
t/TESTS*

# Nightwatch test_output
t/nightwatch/tests_output

# IntelliJ
.idea
*.iml

csc/

src/config.js
