Source: ngcp-csc-ui
Section: web
Priority: optional
Maintainer: Sipwise Development Team <support@sipwise.com>
Homepage: https://www.sipwise.com/
Standards-Version: 4.5.1
Build-Depends:
 debhelper-compat (= 13),
 yarnpkg | nodejs (>= 12.19.0~),
 yarnpkg | yarn,

Package: ngcp-csc-ui
Architecture: all
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
Description: Customer Self-Care Web UI
 Customer Self-Care Web UI for endusers to configure their accounts
 on the Sipwise NGCP. Replacement of deprecated ngcp-csc.
