#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
# export DH_VERBOSE=1

%:
	dh "$@"

override_dh_auto_install:
    npm install -g npm@6.14.5
	npm install
	cp src/config.template.js src/config.js
	npm run build
	mv dist csc
