
@import 'quasar.variables'


.csc-no-entities
    margin 15px
    color $secondary

.csc-important
    font-weight bold

.csc-entity
    position relative

    .q-btn
        .on-left
            margin 0

    .csc-entity-title .q-chip-main {
        color white
    }

    .csc-entity-title-text
        padding-left 6px

    .q-card-title
        color $secondary

    .q-card-title-extra
        .q-btn
            padding-left 8px
            padding-right 8px
