// This file is included in the build if src/main.js imports
// either app.mat.styl or app.ios.styl.
// Check "DEFAULT / CUSTOM STYLE" in src/main.js

// App Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Stylus variables found in Quasar's source Stylus files. Setting
// variables before Quasar's Stylus will use these variables rather than
// Quasar's default Stylus variable values. Stylus variables specific
// to the themes belong in either the app.ios.styl or app.mat.styl files.


// App Shared Color Variables
// --------------------------------------------------
// It's highly recommended to change the default colors
// to match your app's branding.

$primary   = #66C964
$secondary = #383B42
$tertiary  = #6E747F

$positive  = $primary
$negative  = #E51F1F
$info      = #38C7CE
$warning   = #FFCC24
$faded     = #999999
$dark      = #1A1F30
$white     = #FFFFFF
$light     = #CCCCCC
$neutral   = $light

$csc-label = rgba(0,0,0,0.46)

$toolbar-background = $primary
$toolbar-min-height = 60px

$layout-header-shadow = $no-shadow
$layout-aside-background = $tertiary
$layout-aside-shadow = $no-shadow
$layout-aside-left-width = 260px
$layout-aside-right-width = 320px
$layout-footer-shadow = $no-shadow

$tooltip-background = $primary

$csc-subtitle-font-size = 18px
$csc-subtitle-line-height = 2rem

$item-base-color = $primary
$item-highlight-color = alpha($item-base-color, 15%)
