
body.body--light
	.bg-main-menu
		background-color alpha($light, 30%)
	.bg-page
		background-color white

body.body--dark
	background-color $secondary
	.bg-main-menu
		background-color $main-menu-background
	.bg-page
		background-color $secondary
	.csc-item-odd
		background-color $item-stripe-color
	.csc-item-even
		background-color alpha($main-menu-background, 0.2)
	.q-drawer
	.bg-footer
		background-color transparent

.csc-main-menu
	margin-top $header-height
	font-size 16px
	.q-item__section.q-item__section--avatar
		min-width 0

.csc-opt-center
	margin-top ($header-height * -2)
